.header{


display: flex;
flex-direction: row;
color:white;
background-color: rgb(204, 51, 150);
height:50px;
width:100%;
justify-content: center;
align-content: center;

}


.head-content{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-right: 270px;


}



.head-content ul{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


.head-content ul li{
height: 50px;
width:160px;

list-style: none;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* border-right: 1px solid rgb(134, 3, 88); */

}
.home{
    border-right: 1px solid rgb(134, 3, 88);

height: 50px;
width:190px;

}
.head-content ul a{

    height: 50px;
    width:160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
color: white;
font-size: 22px;
text-decoration: none;
}

a:hover{
height: 50px;
width: 160px;
background-color: silver;
display: flex;
flex-direction: row;
/* justify-content: center;
align-items: center; */

}

.logo{
display: flex;
flex-direction: row;
margin-left: 100px;
height:50px;
width:100%;

}
.number{
font-size: 30px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 390px;
margin-top: 20px;

 
}
.wallpaper{


background-image: url(images/currency-zoom.jfif);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 600px;
width:100%;
display: flex;
flex-direction: column;
/* justify-content: center;
align-items: center; */
}
.best{
font-size: 25px;
color: brown;
height:40px;
width:300px;
background-color: rgb(228, 228, 228);
margin-left: 10px;

}
.across{
height:50px;
width:520px;
font-size: 30px;
color:brown;
background-color: rgb(228, 228, 228);
}
.wall-text{

margin-top: 200px;
margin-left: 350px;

}
.slide-text{




}
.pink{


background-color: rgba(138, 2, 104, 0.856);
color:white;
height:130px;
width:100%;
font-size: 22px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.pink-text{

margin-top: 10px;

}
.about{

height:50px;
width:370px;
border-top: 1px solid black;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left: 500px;
position: relative;
}
.title{
height: 50px;
width:220px;
position: absolute;
background-color:white;
color:black;
left:80px;
font-size: 30px;
top:-25px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.about-head{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 18px;


}
.exchange{


display: flex;
flex-direction: row;


}
.rate{


display: flex;
flex-direction: column;
height: 350px;
width:320px;
box-shadow: 2px 2px 2px 2px grey;
border-radius: 5px;
margin-top: 10px;
margin-left: 100px;
background-color:ghostwhite;
justify-content: flex-start;
align-items: center;
margin-top: 10px;
font-size: 15px;
line-height: 1.5em;
}
.circle{
height: 100px;
width:100px;
border-radius: 50px;
box-shadow: 2px 2px 2px 2px grey;

}
.circles{

    height: 110px;
    width:130px;
    

}
.circl{

    height: 100px;
    width:100px;
border-radius: 50px;


}
.brown{

font-size: 20px;
color:brown;
font-weight: bolder;

}
.abouts{


margin-top: 20px;
border-top: 1px solid black;
height:50px;
width:350px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: relative;
margin-left: 500px;

}
.titles{

background-color: white;
height: 50px;
width: 220px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    position: absolute;
    left:65px;
    color: black;
    font-size: 25px;
    top:-25px;
}
.money-exchange{
    display: flex;
    flex-direction: row;
height: 250px;
width:100%;
background-color: palevioletred;


}
.notes{
    display: flex;
flex-direction: row;
height:230px;
width:98%;
    border:1px solid white;
margin-top: 10px;
margin-left: 10px;
}
.note{

    display: flex;
    flex-direction: row;
    height:230px;
    width:100%;
        border:1px solid white;
    margin-top: 10px;
    margin-left: 10px;

}
.dollar{

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 50px;
color:white;
line-height: 1.5em;
margin-top: 10px;

}
.large{

font-size: 30px;
color: white;
font-weight: bold;
}
.money-exchanges{

    display: flex;
    flex-direction: row;
height: 230px;
width:100%;
background-color: white;
color:black;
line-height: 1.5em;
box-shadow: 2px 2px 2px grey;





}
.larges{

    font-size: 30px;
    color:black;
    font-weight: bold;

}
.dollars{


 
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 10px;
color:black;
line-height: 1.5em;
margin-top: 10px;
}
.small{
height:210px;
width:730px;


}
.image{

margin-left: 50px;

}
