.parent{


height: 100px;
width:100%;
background-color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-section{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
background-color: #9f1f63;
height: 60px;
width:100%;
}
.header-content{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-left: 50px;


}
.header-content ul{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
list-style: none;
color: white;
font-size: 20px;

}
.header-content ul li a{

color:white;
text-decoration: none;

}
.header-content ul li{

height: 60px;
width:170px;
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;

}
.header-content ul li a:hover{

height: 60px;
width:170px;
background-color: silver;
color:#9f1f63;
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;

}
.border{
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
border-right: 1px solid orangered;

}
.company-logo{
height: 250px;
width:100%;


}
.master-logo{

height: 70px;
width:100%;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

}
.toll-free{
font-size: 25px;

margin-left: 450px;
margin-top: 20px;
}
 .phone-number{

display: flex;
flex-direction: row;
font-size: 25px;

justify-content: flex-start;
align-items: center;
margin-top: 20px;

 }
 .company-picture{
height: 250px;
width:100%;
border: 3px solid grey;


 }
 .red{

height: 40px;
width:40px;

 }
 .view{

display: flex;
flex-direction: row;
margin-left: 50px;

 }
 .long-view{

display: flex;
flex-direction: column;
height: 500px;
width:700px;
background-image: url(images/world-map.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 2px 2px 2px 2px grey;
border-bottom: 2px solid #732C52;
}
 .short-view{

display: flex;
flex-direction: column;
height: 500px;
width:500px;

margin-left: 50px;
box-shadow: 2px 2px 2px 2px grey;
border-bottom: 2px solid #732C52;
 }
 .map-header{

height: 55px;
width:700px;
background-color: #732C52;
display: flex;
flex-direction: row;
color: white;
justify-content: flex-start;
align-items: center;

 }
 .globe{

height: 25px;
width: 25px;
border-radius: 20px;

 }
 .dropdown{
height: 30px;
width:300px;
border: 1px solid white;
margin-left: 240px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

 }
 .drop{

margin-left: 170px;

 }
 .header-logo{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-left: 20px;

 }
 .wide{

margin-left: 5px;

 }
 .transparent{

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
margin-right: 20px;
margin-top: 10px;
 }
 .title-plan{


height: 55px;
width:500px;
background-color: #732C52;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
font-size: 20px;

 }
 .rrr{
display: flex;
flex-direction: row;
background-color: aqua;
height: 445px;
width:500px;
 }
 .left-col{

display: flex;
flex-direction: column;
height: 400px;
width:250px;
background-color:gainsboro;

 }
 .right-col{

    display: flex;
    flex-direction: column;
    height: 400px;
    width:250px;
    background-color: white;


 }
 .fill{

height: 50px;
width: 250px;
border-bottom: 1px solid black;
display: flex;
flex-direction: column;
justify-content: center;

 }
 .footer{

height: 55px;
width:500px;
background-color:#732C52;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;

 }
 .click-button{

color:yellow;
background-color:#732C52;
 }
 .click-button a{

    color:yellow;

 }
 .menu{
   display: flex;
   flex-direction: row;
   
   
   
   }
   .home-page{
   
   display: flex;
   flex-direction: column;
   
   height: 400px;
   width:350px;
   margin-top: 50px;
   
   }
   .home-page ul li{
   list-style: none;
   
   font-size: 20px;
   border-bottom: 1px solid black;
   padding: 10px;
   
   }
   .money{
       font-size: 20px;
       border-bottom: 1px solid black;
       padding: 10px;
       color: brown;
   font-weight: bolder;
   
   }
   .location{
   
       display: flex;
       flex-direction: column;
       
       height: 400px;
       width:380px;
       margin-top: 60px;
       margin-left: 100px;
   font-size: 18px;
   
   }
   .pin{
   
   margin-left: 40px;
   margin-top: 10px;
   }
   .map{
   
   margin-top: 50px;
   
   
   }
   .google{
   
   
   display: flex;
   flex-direction: column;
   position: relative;
   border-bottom: 1px solid black;
   padding: 10px;
   }
   .direction{
   
   position: absolute;
   top:-30px;
   }
   .email{
       border-bottom: 1px solid black;
   font-size: 20px;
   padding: 10px;
   
   }
   .contact{
   
   display: flex;
   flex-direction: row;
   
   }
   .details{
   
   margin-top: 80px;
   margin-left: 100px;
   font-size: 30px;
   font-weight: bolder;
   }
   .fb{
   
   height: 55px;
   width: 70px;
   border-radius: 20px;
   }
   .chrome{
   
       height: 70px;
       width: 60px;
       border-radius: 10px;
   
   }
   .a{
   
   margin-top: 70px;
   margin-left: 20px;
   }
   .b{
   margin-top: 63px;
   margin-left: 5px;
   
   }
   .para{
   
   
   display: flex;
   flex-direction: column;
   
   }
   .stanza{
   margin-left: 50px;
   line-height: 1.7em;
   font-size: 16px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .terms{
   
   
   
   display: flex;
   flex-direction: column;
   
   }
   .terms ul {
   
   list-style: none;
   
   
   }
   .terms ul li a{
   
   color: blue;
   text-decoration: none;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 16px;
   line-height: 2em;
   margin-left: 10px;
   }
   .terms ul li a:hover{
   color: blueviolet;
   text-decoration: underline;
   background-color: none;
   
   }
   .service{
   margin-left: 50px;
   
   
   }
   .right{
   
   display: flex;
   flex-direction: row;
   height: 50px;
   width:100%;
   background-color: rgb(39, 37, 37);
   color: aliceblue;
   font-size: 18px;
   justify-content: center;
   align-items: center;
   
   }
   .blue{
   
   color:blue;
   
   }